In [1]:
import cv2
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [3]:
score = pd.read_csv('data/score.csv', index_col=0)
base = pd.read_csv('data/base.csv', index_col=0)
count = pd.read_csv('data/count.csv', index_col=0)
inning = pd.read_csv('data/inning.csv', index_col=0)
telop_info = pd.concat([inning, base, count, score], axis=1)
telop_info

        inning  1st  2nd  3rd  ball  strike  out  score_1  score_2
frame
660          1    0    0    0     0       0    0        0        0
720          1    0    0    0     0       0    0        0        0
780          1    0    0    0     0       0    0        0        0
840          1    0    0    0     0       0    0        0        0
900          1    0    0    0     0       0    0        0        0
...        ...  ...  ...  ...   ...     ...  ...      ...      ...
258060       9    1    1    1     0       2    2        1        5
258120       9    1    1    1     0       2    2        1        5
258180       9    1    1    1     0       2    2        1        5
258240       9    1    1    1     0       2    2        1        5
258300       9    1    1    1     0       2    2        1        5

[3216 rows x 9 columns]

In [16]:
row_before = telop_info.iloc[0]
get_score_scene = []
for row in telop_info.iterrows():
    if row[1]['score_1'] != row_before['score_1'] or row[1]['score_2'] != row_before['score_2']:
        get_score_scene.append(row[0])
    row_before = row[1]

In [17]:
get_score_scene

[33300, 69480, 162420, 172980, 199740, 224280]